@model IEnumerable<EventEngine.Models.Event>

@{
    ViewData["Title"] = "Index";
}



<h1>Events</h1>

<button id="filter-toggle">Filter &#x25BC;</button>
<div class="filter-section">
    <form asp-controller="Events" asp-action="Index">
        <p>
        <p>Title: <input type="text" name="Search" /> <input type="submit" value="Search" /></p>
        Indoor Events:
        <input type="checkbox" name="IsIndoor" value="true" />

        <!-- Dropdown list for categories -->
        <label for="CategoryFilter">Category:</label>
        <select id="CategoryFilter" name="categoryFilter">
            <option value="">All Categories</option>
                @foreach (var category in ViewBag.Categories)
                {
                <option value="@category.Id">@category.Name</option>
                }
        </select>
        <!-- Dropdown list for sorting -->
        <label for="SortCriteria">Sort by:</label>
        <select id="SortCriteria" name="sortCriteria">
            <option value="Title">Event Title</option>
            <option value="CostLowToHigh">Cost: Low to High</option>
            <option value="CostHighToLow">Cost: High to Low</option>
            <option value="CapacityLowToHigh">Capacity: Low to High</option>
            <option value="CapacityHighToLow">Capacity: High to Low</option>
        </select>
        <input type="submit" value="Filter" />

        <button type="button" onclick="clearFilters()">Reset</button>
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/filter.js"></script>

