@model IEnumerable<EventEngine.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsIndoor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsIndoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>

    <form asp-controller="Events" asp-action="Index">
        <p>
            Title: <input type="text" name="Search" />
            Indoor Events: 
            <input type="checkbox" name="IsIndoor" value="true"/>
            <input type="submit" value="Filter" />
        </p>
    </form>

    <form asp-controller="Events" asp-action="Index">
        <p>
            <!-- Dropdown list for categories -->
            <label for="CategoryFilter">Category:</label>
            <select id="CategoryFilter" name="categoryFilter">
                <option value="">All Categories</option> <!-- Add an option to select all categories -->
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <input type="submit" value="Filter" />
        </p>
    </form>
</table>
